.nav-container{
    background-color: #D7BEAE;
    width: 15vw;
    height: 100vh;
}

.nav-flex{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;
}

.nav-header{
    background-color: #CF9269;
    padding:1rem 2rem;
    position: relative;
}

.nav-content{
    flex-grow: 1;
}

.nav-logo{
    width: 100%;
}

#clock{
    display: flex;
    justify-content:center;
}

.user-info{
    background: #3B3E49;
    border: 1px solid #FFFFFF;
    margin-top: 1rem;
    padding: .3rem 0rem;
    font-size: .6rem;
}

.nav-button{
    position: absolute;
    background:#4F3828;
    cursor: pointer;
    top: 0;
    right:-2.5rem;
    z-index: 2;
}

.nav-button:hover{
    background:#291e17;
}


.user-divider{
    position: relative;
}

.user-divider::after, .user-divider::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 2rem;
    height: .1rem;
    background-color:white;
    top:50%;
    transform: translateY(-50%);

}

.user-divider::before{
    left:34.1%;
}

.user-divider::after{
    right:34%;
}


